<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SUPABASE_URL</key>
	<string>https://ajyzzzrrozbpzzqjsnzf.supabase.co</string>
	<key>SUPABASE_ANON_KEY</key>
	<string>eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFqeXp6enJyb3picHp6cWpzbnpmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTU2NTY1NDUsImV4cCI6MjA3MTIzMjU0NX0.qxMrfXcymbt3HGjRd7vspVuNvXOU67Jl4k0O7HMQFWg</string>
</dict>
</plist>
